{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-9 order-menu">
            <div class="row row-cols-1 row-cols-md-3">
                {% for category in category_list %}
                    <div class="col">
                        <div class="card" id="category{{ category.pk }}">
                            <img src="{{ category.img.url }}" class="card-img" alt="{{ category.name }}">
                            <div class="card-img-overlay">
                                <h5 class="card-title" style="text-align: center;">{{ category.name }}</h5>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    none
                {% endfor %}
            </div>
        </div>
        <div class="col-3">
            {% include 'side_cart.html' %}
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        {% for category in category_list %}
            $('#category{{ category.pk }}').click(function() {
                window.location.href = "{% url 'sukiya:item_list' category.pk %}";
            });
        {% endfor %}
    </script>

{% endblock javascript %}